<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Anonimizador de Imágenes</title>
</head>
<body>
  <h1>Subir Imagen</h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="image" required><br><br>
    <label><input type="checkbox" name="blur_faces"> Difuminar Caras</label><br>
    <label><input type="checkbox" name="blur_info"> Difuminar Información Sensible</label><br><br>
    <button type="submit">Procesar Imagen</button>
  </form>
</body>
</html>
